<!DOCTYPE html>

<head>
    <title>Photo Hub Forgot Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forgot_password.css') }}">
</head>

<body>
    <form class = "forgot_password-account-form" method="POST">
        <div class= "forgot_password-account-box">
            <div class= "forgot_password-account-title">Password Recovery</div>
            <input class = "forgot_password-account-input" type="text" name="username" placeholder="Username" mandatory/>
            <br>
            <input class = "forgot_password-account-input" type="email" name="mail" placeholder="Email" mandatory/>
            <br>
            <br>
            <button class ="forgot_password-account-button" formaction="/recoverpassword" type="submit">Send Mail</button>
            <button class ="forgot_password-account-button" type="reset">Reset</button>
        </div>

    </form>
    <p class = "error-msg">{{error_msg}}</p>
</body>
