<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/passwordreset.css') }}">
</head>
<body>
    <form class = "create-account-form" method ="POST">
        <div class= "create-account-box">
            <div class= "create-account-title">Password Reset</div>
            <input class = "create-account-input" type="username" name="username" placeholder="Username" mandatory/>
            <br>
            <input class = "create-account-input" type="password" name="password" placeholder="Password" mandatory/>
            <br>
            <input class = "create-account-input" type="password" name="repassword" placeholder="Re-Enter the Password" mandatory/>
            <br>
            <button class ="create-account-button" formaction='/resetpassword' type="submit">Change Password</button>
        </div>
    </form>
    <p class = "error-msg">{{error_msg}}</p>
</body>
</html>