body{
    background-color: aquamarine;
    margin-top: 50px;
}
.details-button{
    padding-left: 5px;
    margin-top: 10px;
    background-color:rgb(0, 206, 137) ;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    display: flex;
}

.details-button:active {
    background-color:rgb(0, 145, 96) ; 
}

.graph{
    background-color:white ;
}

table, th, td {
  border: 1px solid black;
}
.axisLabel {
    position: absolute;
    text-align: center;
    font-size: 12px;
}

.xaxisLabel {
    bottom: -10px;
    left: 0;
    right: 0;
    text-align: center;
}

.yaxisLabel {
    top: 75%;
    left: -11px;
    transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform:  rotate(-90deg);
    transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
}